.EmployeeSearch
  font-size 20px

.EmployeeSearch_criteria
  margin-bottom 20px

.EmployeeSearch_newButton
  margin-bottom 20px

.EmployeeSearch_resultsTitle
  margin-bottom 10px

.EmployeeSearch_results
  font-size 16px

.EmployeeSearch_criteriaFirstNameField
  margin-right 10px

.EmployeeSearch_criteriaLastNameField
  margin-right 10px