.EmployeeDetails_formRow
  margin-bottom 10px

.EmployeeDetails_formRow:last-child
  margin-bottom 0px

.EmployeeDetails_firstNameField
  width 150px

.EmployeeDetails_lastNameField
  width 150px

.EmployeeDetails_managersSelection
  width 150px